extends base

block content 
    h1=pageTitle
    form(method="POST", enctype="multipart/form-data").edit-profile_form
        label(for="avatar") Avatar
        input(type="file", id="avatar", name="avatar", accept="image/*", class="submit_input")
        input(placeholder="Name", name="name", type="text", required, value=loggedInUser.name, class="submit_input")
        input(placeholder="Email", name="email", type="email", required, value=loggedInUser.email, class="submit_input")
        input(placeholder="Username", name="username", type="text", required, value=loggedInUser.username, class="submit_input")
        input(placeholder="Location", name="location", type="text", value=loggedInUser.location, class="submit_input")
        input(type="submit", value="Update Profile", class="input_btn")
        if !loggedInUser.socialOnly
            div.edit-profile_password
                a(href="change-password", class="github_login") Change Password &rarr;
